body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4C6375;
    color: #FFF;
    padding: 10px;
    text-align: center;
}
section {
    padding: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
footer {
    background-color: #4C6375;
    color: #FFF;
    text-align: center;
    padding: 10px;
    bottom: 0;
}
footer a:visited{
    color: #FFF;
}

a:hover {
    color: #82AEB1;
}

.back-home__logo {
    height: 45px;
}

.back-home__logo:hover {
    background-color: #82AEB1;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}