{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
{% comment %} <h3>{{ message }}</h3> {% endcomment %}

<section id="about-us">
    <p>Добро пожаловать на наш IT-блог, посвященный всему, что связано с backend-разработкой!</p>

    <section id="mission">
        <h2>Наша миссия</h2>
        <p>Мы стремимся сделать мир разработки более понятным и доступным для всех, предоставляя качественные, практичные и актуальные сведения об инновациях, лучших практиках и трендах в области backend-разработки.</p>
    </section>

    <section id="team">
        <h2>Наша команда</h2>
        <p>Наш блог разрабатывается и поддерживается командой опытных backend-разработчиков, которые стремятся поделиться своими знаниями и опытом с широкой аудиторией.</p>
    </section>

    <section id="values">
        <h2>Наши ценности</h2>
        <ul>
            <li><strong>Качество:</strong> Мы стремимся предоставлять высококачественный и проверенный контент.</li>
            <li><strong>Обучение:</strong> Мы верим в постоянное обучение и развитие, и хотим помочь нашим читателям в их образовательном пути.</li>
            <li><strong>Сообщество:</strong> Мы ценим взаимопомощь и сотрудничество в IT-сообществе и стремимся создать платформу для обмена знаниями.</li>
        </ul>
    </section>
</section>

{% endblock %}
