{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>

{% load static %}

<section>
    <h3>Обучение и документация <img class="h3_after_img" src="{% static 'app/image/links_docs.jpg' %}" alt="Обучение и документация" /></h3>
    <ul>
        <li><a href="https://developer.mozilla.org/ru/">MDN Web Docs</a> - обширная база знаний по веб-разработке.</li>
        <li><a href="https://www.w3schools.com/">W3Schools</a> - учебник по веб-технологиям.</li>
        <li><a href="https://webref.ru/">WebReference</a> - русскоязычный ресурс по веб-разработке.</li>
        <li><a href="https://css-tricks.com/">CSS-Tricks</a> - советы и руководства по CSS.</li>
        <li><a href="https://frontendmasters.com/books/front-end-handbook/2019/">Front-End Developer Handbook</a> - руководство по фронтенд-разработке.</li>
    </ul>
</section>
<section>
    <h3>Форумы и сообщества <img class="h3_after_img" src="{% static 'app/image/links_forum.jpg' %}" alt="Форумы и сообщества" /></h3>
    <ul>
        <li><a href="https://stackoverflow.com/">Stack Overflow</a> - форум для веб-разработчиков.</li>
        <li><a href="https://www.reddit.com/r/webdev/">Reddit WebDev Community</a> - сообщество веб-разработчиков на Reddit.</li>
        <li><a href="https://www.sitepoint.com/community/">SitePoint Community</a> - сообщество и форум для веб-разработчиков и дизайнеров.</li>
    </ul>
</section>
<section>
    <h3>Инструменты и ресурсы <img class="h3_after_img" src="{% static 'app/image/links_tools.jpg' %}" alt="Инструменты и ресурсы" /></h3>
    <ul>
        <li><a href="https://caniuse.com/">Can I use</a> - поддержка веб-технологий в различных браузерах.</li>
        <li><a href="https://codepen.io/">CodePen</a> - платформа для тестирования и демонстрации HTML, CSS и JavaScript.</li>
        <li><a href="https://www.codewars.com/">CodeWars</a> - платформа для улучшения навыков программирования через веселые задачи.</li>
        <li><a href="https://www.jsdelivr.com/">jsDelivr</a> - бесплатный супер быстрый CDN для разработчиков и вебмастеров.</li>
    </ul>
</section>

{% endblock %}
